
\.vscode/

docs/inscricoes/

\.htaccess

include/dbconnect/u330396454_iasd-capaoredondo\.com\.br\.ini

include/dbconnect/u330396454_www\.iasd-capaoredondo\.com\.br\.ini

include/dbconnect/u663714049_6regiao-aps\.com\.br\.ini

include/dbconnect/u663714049_www\.6regiao-aps\.com\.br\.ini
